@page "/careers"

<PageTitle>Careers</PageTitle>

<h1>Careers</h1>

<p>Open positions at SMS</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Software Engineering Intern</td>
            <td>£100,000</td>
        </tr>
        <tr>
            <td>Software Engineering Apprentice</td>
            <td>£100,000</td>
        </tr>
    </tbody>
</table>

@code {

}