@page "/Contacts"

<PageTitle> Contacts</PageTitle>

<h1>Contacts</h1>

<p>@contacts[1,0]</p>

@code {
    string[,] contacts = { { "Boris", "Downing street" }, { "Rishi", "Buckingham Palace" }, { "David", "Abbey road" } };

    
 
}
