@page "/error-table"

<PageTitle>Error Table</PageTitle>

<h1>Error Table</h1>

<p>The following table contains errors from SMS applications.</p>

<table class="table">
    <thead>
        <tr>
            <th>Application</th>
            <th>Error Message</th>
            <th>techlead@sms-plc.com</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>FSM</td>
            <td>Error 1</td>
            <td>techlead@sms-plc.com</td>
        </tr>
        <tr>
            <td>CBP</td>
            <td>Error 2</td>
            <td>techlead@sms-plc.com</td>
        </tr>
        <tr>
            <td>DIP</td>
            <td>Error 3</td>
            <td>techlead@sms-plc.com</td>
        </tr>
    </tbody>
</table>

@code {

}